.content-text {
    padding: 20px 60px;
    line-height: 1.5;
}

.content-text h2 {
    margin-bottom: -1rem;
}

.content-text .link {
    margin-top: -1rem;
    color: #e5cf18;
    text-decoration: underline;
    text-decoration-thickness: 20%;
}

.content-text a {
    text-decoration: none;
    color: #e5cf18;
    /*border-bottom: 2px solid white;*/
}

.content-text .subheader {
    font-size: 1.2em;
}

.content-text .kofi_donate {
    border:0px;
    height:36px;
}

.content table {
    font-size: 1.2rem;
    text-align: left;
    margin: auto;
    table-layout: fixed;
}

.content table a {
    text-decoration: none;
    color: #e5cf18;
    border-bottom: 2px solid white;
}

.content th {
    font-size: 1.2rem;
    padding: 10px 5px;
    border-bottom: 3px solid #e5cf18;
}

.content td {
    padding: 10px 5px;
    border-bottom: 1px solid #e5cf18;
}

@media screen and (min-width: 1024px) {
    .content-text {
        padding: 30px 150px;
        font-size: 1.3rem;
    }

    .content table {
        font-size: 1.3rem;
    }

    .content th {
        font-size: 1.4rem;
    }
}