<link rel="shortcut icon" href="{{ url_for('/assets/favicons/favicon.ico') }}">

<link rel="icon" sizes="16x16 32x32 64x64" href="{{ url_for('/assets/favicons/favicon.ico') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('/assets/favicons/favicon-16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('/assets/favicons/favicon-32.png') }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('/assets/favicons/favicon-64.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('/assets/favicons/favicon-96.png') }}">
<link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('/assets/favicons/favicon-160.png') }}">
<link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('/assets/favicons/favicon-192.png') }}">

<link rel="apple-touch-icon" href="{{ url_for('/assets/favicons/favicon-57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('/assets/favicons/favicon-60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('/assets/favicons/favicon-72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('/assets/favicons/favicon-76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('/assets/favicons/favicon-114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('/assets/favicons/favicon-120.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('/assets/favicons/favicon-152.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('/assets/favicons/favicon-144.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('/assets/favicons/favicon-180.png') }}">