<div>
    <a href="{{ url_for(p.path) }}"><h1 id="{{ p.title.toLowerCase().split(' ').join('_') }}">{{ p.title }}</h1></a>
    {{ moment(p.date).fromNow() }} by <a href={{ url_for('/team/' + p.author) }}>{{ p.author }}</a>
    {% if p.modified %}
    , last modified: {{ moment(p.modified).fromNow() }}
    {% endif%}
    <p>{{ p.excerpt }} ...</p>
</div>
