.offline-image {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.videochat-container {
  display: flex;
  flex-direction: column;
}

/* Video START */
.video-container {
  border: 3px solid white;
  margin-bottom: 10px;
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.video iframe {
  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Chat START */
.chat-container {
  border: 3px solid white;
  margin-bottom: 10px;
}

.chat {
  height: 350px;
}

.chat iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* Chat END */

/* Schedule START */
iframe[title="schedule"] {
  border: 0;
  width: 100%;
  min-height: 350px;
}

.schedule-container {
  background-color: #111;
}
/* Schedule END */

/* Desktop Viewport */
@media screen and (min-width: 1024px) {
  .videochat-container {
    flex-direction: row;
  }

  .video-container {
    margin-right: 5px;
    width: 70%;
  }

  .chat-container {
    margin-left: 5px;
    width: 30%;
  }

  .chat {
    height: 100%;
  }

  .schedule summary {
    font-size: 1.8rem;
  }

  .schedule table {
    font-size: 1.5rem;
  }

  .schedule th {
    font-size: 1.7rem;
  }

  .schedule p {
    font-size: 1rem;
  }
}
